a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.navbar a,
.navbar ul li {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: green;
  transform: scale(1.1);
}

.navbar ul li:hover {
  transform: scale(1.3);
}

.navbar.scrolled {
  background: green;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar.scrolled a {
  color: #fff;
}

.navbar.scrolled a:hover {
  transform: scale(1.1);
}

.navbar.scrolled ul li:hover {
  transform: scale(1.3);
}

.navbar-links {
  gap: 5vw;
  display: flex;
  list-style: none;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
