/* Contenedor principal */
.item-container {
  margin: 0 10vw 5vh 10vw;
  text-align: center;
}

/* Título */
.item-container h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

/* Contenedor de las tarjetas */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.card:hover {
  transform: translateY(-5px);
}
